
:root{
  --clr-primary-300: white;
  --clr-background: #213E4B;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  color: var(--clr-primary-300);
  font-family: sans-serif;
}

h1{
  padding-bottom: 1em;
}

.container{
  background-color: var(--clr-background);
  margin-inline: 5rem;
  padding: 5rem 3rem;
}

.text{
  width: 50%;
}

